/* Navigation */

.navigation-separator {
  min-width: 225px;
  height: 100%;
  background-color: #171717;
}

.navigation-container {
  width: 225px;
  height: 100vh;
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: fixed;
}

.navigation-header {
  position: absolute;
  top: 0;
}

.navigation-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navigation-links div {
  display: flex;
  align-items: center;
}

.navigation-links img {
  width: 20px;
  height: 20px;
  fill: #838383;
}

.navigation-links a {
  color: #838383;
  text-decoration: none;
  padding: 1rem;
}

/* Home */

.home {
  background-color: #1E1E1E;
  display: flex;
  min-height: 100vh;
}

.home-container {
  padding: 20px;
  padding-bottom: 175px;
  width: 100%;
}

/* Search bar */

.search-container {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.search-container img {
  width: 18px;
  height: 18px;
}

.search-container input[type=text] {
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 100%;
  padding: 5px;
  outline: none;
  margin-left: 5px;
  width: 90%;
}

/* Wide movie card */

.trending-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.trending-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  color: white;
}

.trending-movies-container {
  display: flex;
  gap: 30px;
}
.wide-movie-card {
  width: 450px;
  height: 275px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  border-radius: 7px;
}

.wide-movie-card-text {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  padding: 13px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.wide-movie-card-text h4, p {
  margin: 0;
}

.wide-movie-card-text h4, p {
  font-size: 0.8rem;
}

/* Movie card */

.movie-card {
  height: 275px;
  width: calc(930px / 5 - 8px);
  background-size: cover;
  border-radius: 8px;
}

/* Movie section */

.movie-section-content {
  display: flex;
  gap: 10px;
}

.movie-section-title {
  color: white;
  margin-top: 35px;
}

.movie-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Discover */

.discover {
  background-color: #1E1E1E;
  display: flex;
  min-height: 100vh;
}

.discover-container {
  padding: 20px;
  padding-bottom: 175px;
  width: 100%;
}